<div class="row">
  <div class="col-md-6">
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-default" %>
      </div>
    <% end %>
    <hr>
    <%= render "devise/shared/links" %>
  </div>
	<div class="col-md-6 login-content-desktop hidden-xs">
    <h3>Find something new to do today!</h3>
		<h6>Thousands of events in one spot.</h6><br>
		<img class="login-logo img-responsive" src="https://source.unsplash.com/apz-nFR0NlQ">
	</div>
	<div class="col-md-6 visible-xs">
    <h3>Find something new to do today!</h3>
		<h6>Thousands of events in one spot.</h6><br>
		<img class="login-logo img-responsive" src="https://source.unsplash.com/apz-nFR0NlQ">
	</div>
</div>
